/*Import*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Variables */
:root {
    --primaryColor: rgb(140, 198, 63);
    --darkerPrimaryColor: rgb(99, 140, 27);
    --secondaryColor: rgb(121, 63, 198);
    --lighterSecondaryColor: rgb(189, 138, 255);
    --white: rgb(255, 255, 255);
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    color: var(--white);
}

body {
    background-color: var(--secondaryColor);
    overflow-x: hidden;
}

h1 {
    margin: 20px 0;
    color: var(--white);
    text-transform: uppercase;
}

h2 {
    margin: 10px 0;
    color: var(--white);
    font-weight: normal;
}

hr{
    height: 5px;
    background-color: var(--primaryColor);
    border: solid 1px var(--primaryColor);
    border-radius: 5px;
}

a{
    text-decoration: none;
}

b{
    display: block;
    font-size: 30px;
}

.container{
    margin: auto;
    width: 90%;
    overflow: hidden;
}

.banner{
    border-radius: 0 80px 80px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: var(--darkerPrimaryColor);
}

.rightSideTriangle {
    margin-left: -150px;
    width: 0;
    height: 0;
    border-bottom: solid var(--darkerPrimaryColor) 250px;
    border-left: solid transparent 180px;
}

.leftSideTriangle {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: solid transparent 100px;
    border-left: solid var(--darkerPrimaryColor) 100px;
}

.rectangle {
    background-color: var(--darkerPrimaryColor);
    width: 100%;
    border-radius: 0 10px 10px 0;
    padding-top: 2px;
}

/*Navigation bar*/
header {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.9920343137254902) 0%, rgba(121,63,198,1) 0%, rgba(94,130,166,0.8995973389355743) 100%);
}

header img {
    width: 70px;
    float: left;
}

header span {
    padding: 10px 0;
    position: absolute;
    top: 8px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: var(--white);
    letter-spacing: 3px;
}

nav {
    float: right;
    margin: 17px 0;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    height: 100%;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;

    transition-property: background-color;
    transition-duration: 0.5s;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a:hover{
    background-color: white;
    color: var(--secondaryColor);
}

#checkbtn {
    font-size: 35px;
    color: var(--white);
    margin-top: 5px;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*Image slider section*/
.slider {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide 
.content h1 {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: initial;
}

.slide 
.content {
    position: absolute;
    top: 40vh;
    right: -470px;
    opacity: 0;
    width: 500px;

    background-color: var(--primaryColor);
    color: var(--white);

    padding: 20px;
    box-shadow: 10px 10px 0px var(--darkerPrimaryColor);
}

.slide.current 
.content {
    opacity: 1;
    transform: translateX(-480px);
    transition: all 0.7s ease-in-out 0.3s;
}

/*Buttons*/
button {
    top: 35%;
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

button#prev:hover, 
button#next:hover  {
    opacity: 1;
}

button#prev {
    color: var(--secondaryColor);
    opacity: 0.5;
    position: absolute;
    left: 1%;
}

button#next {
    color: var(--secondaryColor);
    opacity: 0.5;
    right: 1%;
    position: absolute;
}

/*About section*/
#about .container, 
#features .container{
    padding-bottom: 30px;
}

/*Prototype*/
#prototype,
#eachFeature {
    background-color: var(--primaryColor);
    padding: 0;
    margin-top: 20px;
    margin-right: 23px;
    border-radius: 100px;
    display: flex;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

#about img,
#features img {
    outline: 5px solid var(--white);
    outline-offset: -25px;
    width: 400px;
}

#prototype .banner p,
#features .banner p{
    padding: 60px;
    color: var(--white);
    font-size: 18px;
    line-height: 2;
}

/*Objectives, beneficiaries, and purpose*/
#objectivesContainer, 
#beneficiariesContainer,
#purposesContainer,
#rolesContainer,
#finalProductContainer,
#approachContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
}

#objectives, 
#beneficiaries,
#purposes,
.methodology,
.memberRoles {
    background-color: var(--primaryColor);
    width: 380px;
    text-align: center;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.arrowDown {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-top: 30px solid var(--darkerPrimaryColor);
}

#objectives div:not(:nth-child(2)), 
#beneficiaries div:not(:nth-child(2)),
#purposes div:not(:nth-child(2)) {
    border-radius: 10px 10px 0 0;
    display: block;
    background-color: var(--darkerPrimaryColor);
    font-size: 60px;
    color: var(--white);
}

#objectives div h3, 
#beneficiaries div h3, 
#purposes div h3{
    font-size: 30px;
    margin-top: -10px;
    padding-bottom: 10px;
}

#objectives p, 
#beneficiaries p, 
#purposes p{
    color: var(--white);
    padding: 20px;
}

/*Features*/
#features {
    background-color: var(--primaryColor);
}

#features hr {
    background-color: var(--secondaryColor);
    border: solid 1px var(--secondaryColor);
}

#eachFeature {
    background-color: var(--lighterSecondaryColor);
}

#features .banner{
    background-color: var(--secondaryColor);
}

#eachFeature:nth-child(even) {
    flex-direction: row-reverse;
}

#eachFeature:nth-child(even) .banner {
    border-radius: 80px 0 0 80px;
    margin-left: 30px;
    margin-right: 0;
}

/*----Case studies----*/
#caseStudies {
    background-color: var(--secondaryColor);
}

/*Duration*/
#duration{
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

#start,
#end {
    display: flex;
    border-radius: 10px;
    background-color: var(--primaryColor);
    width: 40%;
    padding: 20px 20px 20px 0;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

#start .innerContainer span,
#end .innerContainer span {
    margin: auto 0 auto 40px;
    background-color: var(--darkerPrimaryColor);
}

.innerContainer {
    background-color: var(--darkerPrimaryColor);
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    padding-left: 50px;
    width: 100%;
    display: flex;
}

/*Purposes*/
/*Link to /objectives and beneficiaries section/*/
#purposes:first-child div h3{
    font-size: 25px;
}

/*Approach*/
#research {
    display: flex;
    background-color: var(--primaryColor);
    color: var(--white);
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

#research .rectangle {
    text-align: center;
    margin: 0;
    border-radius: 10px 0 0 10px;
    padding: 30px 0 30px 30px;
    width: 300px;
}

#research .caption {
    margin: auto 30px;
    width: 50%;
}

#methodologiesContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.methodology {
    margin-top: 20px;
    width: 550px;
    height: 350px;
}

.methodology .header{
    margin-top: -10px;
    background-color: var(--darkerPrimaryColor);
    border-radius: 10px 10px 0 0;
    color: var(--white);
    padding: 10px;
}

.methodology p{
    color: var(--white);
    text-align: justify;
    margin: auto 10px;
    padding: 10px;
}

.methodology li {
    margin-left: 20px;
    text-align: left;
    color: var(--white);
}

/*Team / Roles*/
.memberRoles {
    text-align: left;
    margin-top: 20px;
    width: 580px;
    display: flex;
}

.memberRoles:first-child, 
.memberRoles:nth-child(2) {
    margin-top: 0;
}

#rolesContainer .person {
    border-radius: 50%;
    width: 200px;
    margin: 20px;
    z-index: 1;
}

.rectangle hr {
    color: var(--white);
    background-color: var(--white);
    width: 90%;
}

.rectangle ul {
    padding: 10px 20px 10px 10px;
    color: var(--white);
}

.rectangle li img {
    width: 50px;
    margin-left: 40px;
    margin-right: 20px;
}

/*Final product*/
#finalProductContainer {
    margin-bottom: 20px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
    padding: 30px 30px 30px 0;
    width: 98.5%;
}

#finalProductContainer .innerContainer {
    padding-left: 20px;
}

#finalProductContainer iframe{
    margin: 10px 30px 10px 10px;
}

#finalProductContainer .innerContainer div{
    width: 500px;
}

#finalProductContainer .innerContainer div p {
    color: var(--white);
    padding: 20px 10px 20px 0;
}

/*----Contact Us section----*/
/*Profile*/
#contactUs {
    background-color: var(--primaryColor);
}

#contactUs hr {
    background-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

.memberContacts {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 0 20px -10px;
}

.member{
    background-color: var(--lighterSecondaryColor);
    width: 280px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

.member img {
    display: block;
    margin: 20px auto;
    width: 150px;
    border-radius: 50%;
    border: 5px solid var(--secondaryColor);
}

.description {
    background-color: var(--secondaryColor);
    color: var(--white);
    margin-top: -70px;
    padding: 50px 20px 20px 20px;
    width: 100%;
    height: 180px;
    border-radius: 0 0 10px 10px;
}

.member h3 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
}

.member span {
    padding-left: 10px;
    font-size: 14px;
}

.member .description hr {
    width: 120px;
    margin: 10px auto;
    border: 3px var(--white) solid;
}

/*Form*/
#contactForm {
    padding: 3px 20px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
    margin-right: 20px;
}

::placeholder {
    color: gray;
}

#name,
#email,
#message{
    display: block;
    border: solid transparent 5px;
    color: var(--secondaryColor);
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding-left: 3px;
    resize: none;
}

input[type="submit"] {
    padding: 5px 20px;
    border-radius: 10px;
    border: solid var(--white) 3px;
    background-color: var(--secondaryColor);
    color: var(--white);
    margin: 0 47%;
}

/*Media queries*/
@media (max-width: 1000px) {
    /*Image slider*/
    .slide:first-child, 
    .slide:nth-child(2), 
    .slide:nth-child(3), 
    .slide:nth-child(4) {
        background-size: fixed;
    } 
}

@media (max-width: 750px) {
    /*Navigation bar*/
    #checkbtn {
        display: block;
    }

    header img{
        display: block;
        float: none;
    }

    header span {
        left: 110px;
    }

    nav {
        float: none;
        display: block;
        transition: all 0.5s;
    }

    nav ul li {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    /*Image slider*/
    .slide .content {
        width: 100%;
    }
}

@media (max-width: 320px) {
    /*Image slider*/
    .slide .content {
        margin-top: -50px;
    }
}

/*Background images*/
.slide:first-child {
    background: url(../images/carousel_1.jpg) no-repeat;
    background-size: cover;
    background-position: top -130px right 60%;
}

.slide:nth-child(2) {
    background: url(../images/carousel_2.jpg) no-repeat;
    background-size: cover;
    background-position: top -210px right 50%;
}

.slide:nth-child(3) {
    background: url(../images/carousel_3.jpg) no-repeat;
    background-size: cover;
    background-position: top -160px right 50%;
}

.slide:nth-child(4) {
    background: url(../images/carousel_4.jpg) no-repeat;
    background-size: cover;
    background-position: top -150px right 50%;
}