/*Import*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Variables */
:root {
    --primaryColor: rgb(140, 198, 63);
    --secondaryColor: rgb(121, 63, 198);
    --white: rgb(255, 255, 255);
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

body {
    background-color: var(--secondaryColor);
}

a{
    text-decoration: none;
}

.container{
    margin: auto;
    width: 90%;
    overflow: hidden;
}

/*Navigation bar*/
header {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.9920343137254902) 0%, rgba(121,63,198,1) 0%, rgba(94,130,166,0.8995973389355743) 100%);
}

header img {
    width: 70px;
    float: left;
}

nav {
    float: right;
    margin: 17px 0;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    height: 100%;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;

    transition-property: background-color;
    transition-duration: 0.5s;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a:hover{
    background-color: white;
    color: var(--secondaryColor);
}

#checkbtn {
    font-size: 35px;
    color: var(--white);
    margin-top: 5px;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*Image slider section*/
.slider {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content h1 {
    line-height: 1;
    margin-bottom: 5px;
}

.slide .content {
    position: absolute;
    top: 40vh;
    right: -470px;
    opacity: 0;
    width: 500px;

    background-color: var(--primaryColor);
    color: var(--white);

    padding: 20px;
    box-shadow: 10px 10px 0px rgb(99, 140, 27);
}

.slide.current .content {
    opacity: 1;
    transform: translateX(-480px);
    transition: all 0.7s ease-in-out 0.3s;
}


.buttons button#prev:hover, .buttons button#next:hover  {
    opacity: 1;
}

.buttons button#prev {
    color: var(--secondaryColor);
    opacity: 0.5;
    position: absolute;
    left: 1%;
}

.buttons button#next {
    color: var(--secondaryColor);
    opacity: 0.5;
    right: 1%;
    position: absolute;
}

.buttons button {
    top: 35%;
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

/*Media queries*/
@media (max-width: 1000px) {
    /*Image slider*/
    .slide:first-child, .slide:nth-child(2), .slide:nth-child(3), .slide:nth-child(4) {
        background-size: fixed;
    } 
}

@media (max-width: 700px) {
    /*Navigation bar*/
    #checkbtn {
        display: block;
    }

    header img{
        display: block;
        float: none;
    }

    nav {
        float: none;
        display: block;
        transition: all 0.5s;
    }

    nav ul li {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    /*Image slider*/
    .slide .content {
        width: 100%;
    }
}

@media (max-width: 320px) {
    /*Image slider*/
    .slide .content {
        margin-top: -50px;
    }
}

/*Background images*/
.slide:first-child {
    background: url(../images/carousel_1.jpg) no-repeat;
    background-size: cover;
    background-position: top -130px right 60%;
}

.slide:nth-child(2) {
    background: url(../images/carousel_2.jpg) no-repeat;
    background-size: cover;
    background-position: top -210px right 50%;
}

.slide:nth-child(3) {
    background: url(../images/carousel_3.jpg) no-repeat;
    background-size: cover;
    background-position: top -160px right 50%;
}

.slide:nth-child(4) {
    background: url(../images/carousel_4.jpg) no-repeat;
    background-size: cover;
    background-position: top -150px right 50%;
}